body {
  font-family: "Open Sans";
}
nav {
  background-color: #404041;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 1% ;
  font-size: 20px;

}
.number {
  color: #ED458B;
  font-weight: 700;
}
.guesser {
  color: #E6E7E8;
  font-weight: 300;
}

.buttons {
  background-color: #929497;
  border-radius: 25px;
  color: #FFFFFF;
}
.buttons:hover {
  background-color: #EB008B;
}

.disabled{
  background-color: #D0D2D3;
}
.active{
  background-color: #929497;
}
.range-div{
  display: flex;
align-items: center;
justify-content: center;

}
.guess-field{
  display: flex;
align-items: center;
justify-content: center;
}
.buttons-div{
display: flex;
align-items: center;
justify-content: center;
}
.form-inputs{
  display: flex;
  align-items: center;
  justify-content: center;
}
